
.hide-forecast-icon a.fa.fa-area-chart {
    display: none !important;
}

.hide-forecast-icon td .fa.fa-area-chart {
    display: none !important;
}
.hide-forecast-icon [title*="Forecasted Quantity"] {
    display: none !important;
}
